<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Backbone.js Web App</title>
        <link rel="stylesheet" href="css/screen.css" />
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
    </head>
    <body>
	<header> 
		<a href="#home">home</a>
		<a href="#game">game</a>
	</header>
		
		
		<div id="Test"> halllooo ik ben een opvulling </div> 	
		
		
		
		<!-- /////////////////////////////////////////// THE Scripts ////////////////////////////////////////////// -->
		
		<script id="GameTemplate" type="text/template">
			<div id="wrapper">
				<header class="gameHeader"><h1>Pool A Boomsquad vs. Burning Snow</h1>
				<h2>Pool A - Score Updates - Boomsquad 2 - 3 Burning Snow </h2></header>
			   
			   <article id="Game">
					<nav class="actions">
						<ul>
							<li id="filter">
								<label>Set:</label>
								
							</li>
							<li><button id="showForm">Add new tournament</button></li>
						</ul>
					</nav>
					
					<table>
						<thead>
						<tr>
							<th>Set</th>
							<th>Team</th>
							<th>Points</th>
							<th>Team</th>
							<th></th>
						</tr>
						</thead>
						<tbody  class="tournaments"></tbody>
					</table>
					
					<form id="addTournament" action="#" class="form-2">
						<h1>Add tournament</h1>
						<label for="set">Set:</label>
						<select  id="set">
						  <option value="1">1</option>
						  <option value="2">2</option>
						  <option value="3">3</option>
						  <option value="4">4</option>
						  <option value="5">5</option>
						  <option value="6">6</option>
						  <option value="7">7</option>
						  <option value="8">8</option>
						</select>
						<label for="team1">team1:</label><input id="team1"  placeholder="team name" type="text" />
						<label for="team1Score">team1Score:</label>
						<select  id="team1Score">
						  <option value="0">0</option>
						  <option value="1">1</option>
						  <option value="2">2</option>
						  <option value="3">3</option>
						  <option value="4">4</option>
						  <option value="5">5</option>
						</select>
						<label for="team2">team2:</label><input id="team2"  placeholder="team name" type="text" />
						<label for="team2Score">team2Score:</label>
						<select  id="team2Score">
						  <option value="0">0</option>
						  <option value="1">1</option>
						  <option value="2">2</option>
						  <option value="3">3</option>
						  <option value="4">4</option>
						  <option value="5">5</option>
						</select>
						
						<div class="clearfix"><input type="submit" id="add" value="Add" /></div>
					</form>
				</article>
			</div>
			
		</script>
		
		
		  <script id="game2" type="text/template">
			Hello !! !!,  	
        </script>
		
        <script id="tournamentTemplate" type="text/template">
			
				<td><%= set %></td>
				<td <% if(team1Score > team2Score){%> class="winner"<%}; %>><%= team1 %></td>
				<td><%= team1Score %> - <%= team2Score %></td>
				<td <% if(team2Score > team1Score){%> class="winner"<%}; %>><%= team2 %></td>
				<td><a href="#" class="delete">Delete</a></td>
		
        </script>
		
		<!-- Libraries -->
        <script src="js/libs/jquery-1.7.1.min.js"></script>
        <script src="js/libs/json2.js"></script>
        <script src="js/libs/underscore-min.js"></script>
        <script src="js/libs/backbone-min.js"></script>

		<!-- Application -->
		<script src="js/app/app.js"></script>
			<!-- Models & Collections -->
		<script src="js/app/models/set2.js"></script>
		<script src="js/app/collections/game2.js"></script>
		
		<!-- Views -->
		<script src="js/app/views/game/setView2.js"></script>
		<script src="js/app/views/game/gameView2.js"></script>
    </body>
</html>