<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Backbone.js Web App - Game</title>
  	<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/screen.css" />
    </head>
    <body>
		<div id="wrapper">
			<h1 id="game_result">Game result</h1>
			<table id="game"></table>
		</div>	
        
		<header>
            <h1><span>League:</span>AMSU - 12</h1>
            <h1><span>Tournament:</span>Threesome</h1>
        </header>
		
        <script id="setTemplate" type="text/template">
		<article>
            <header>
                <h1>Pool A - Score Updates - <%= team1 %> vs. <%= team2 %></h1>
            </header>
			
            <table>
                <tr>
                    <th>Team</th>
                    <th>Result</th>
                    <th>Team</th>
                </tr>

                <tr>
                    <td class="winner"><%= team1 %></td>
                    <td>3 - 2</td>
                    <td><%= team2 %></td>
                </tr>
            </table>

            <table>
                <tr>
                    <th>Set</th>
                    <th>Team</th>
                    <th>Points</th>
                    <th>Team</th>
                </tr>
                <tr>
                    <td><%= set %></td>
                    <td><%= team1 %></td>
                    <td><%= team1Score %> - <%= team2Score %></td>
                    <td><%= team2 %></td>
                </tr>
            </table>
        </article>
				
        </script>
		
		<!-- Libraries -->
        <script src="js/libs/jquery-1.7.1.min.js"></script>
        <script src="js/libs/json2.js"></script>
        <script src="js/libs/underscore-min.js"></script>
        <script src="js/libs/backbone-min.js"></script>

		<!-- Application -->
        <script src="js/app/appGame.js"></script>
				
    </body>
</html>
