<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Threesome Ultimate Frisbee - Schedule</title>
        <link rel="stylesheet" href="css/screen.css" />
    </head>
    <body>
	<header>
            <h1><span>League: </span>AMSU - 12</h1>
            <h1><span>Tournament: </span>Threesome</h1>
        </header>

        <article id="schedule">
            <header>
                <h1>Pool A - Schedule</h1>
            </header>
	    
	    <nav class="actions">
		<ul>
		    <li id="filter">
		       <label>Select team:</label>
		    </li>
		    <li>
			<button id="showForm">Add new game</button>
		    </li>
	        </ul>
	    </nav>
	    
	    <section id="message"></section>
	    
	    <form id="addGame" action="#">
		<h1>Add game</h1>
		<button id="cancel">Cancel</button>
		<div class="clearfix"></div>
		<label for="date">Date:</label><input id="date" placeholder="Day, Time am/pm (Like: Monday, 10:00am)" type="text" />
		<label for="team1">Team 1:</label><input id="team1" placeholder="Name of team 1" type="text" />
		<label for="team1Score">Score Team 1:</label><input id="team1Score" placeholder="Points of team 1" type="text" />
		<label for="team2">Team 2:</label><input id="team2" placeholder="Name of team 1" type="text" />
		<label for="team2Score">Score Team 2:</label><input id="team2Score" placeholder="Points of team 2" type="text" />
		<input type="submit" id="add" value="Add" />
	    </form>
		
            <table id="games">
                <tr>
                    <th>Monday 18 March</th>
                    <th>Team</th>
                    <th>Result</th>
                    <th>Team</th>
                </tr>
            </table>
        </article>
        
        <script id="gameTemplate" type="text/template">
		<td><%= date %></td>
                <td <% if(team1Score > team2Score || team1Score === team2Score){ %> class="winner" <% }; %> ><%= team1 %></td>
                <td><%= team1Score + " - " + team2Score %></td>
                <td <% if(team1Score < team2Score || team1Score === team2Score){ %> class="winner" <% }; %> ><%= team2 %></td>
		<td><a href="#" class="delete">Delete</a></td>
        </script>

		<!-- Libraries -->
        <script src="js/libs/jquery-1.7.1.min.js"></script>
        <script src="js/libs/json2.js"></script>
        <script src="js/libs/underscore-min.js"></script>
        <script src="js/libs/backbone-min.js"></script>

        	<!-- Application -->
	
	<script src="js/app/models/game.js"></script>
	<script src="js/app/collections/schedule.js"></script>
	<script src="js/app/views/schedule/game.js"></script>
	<script src="js/app/views/schedule/schedule.js"></script>
	
	<script src="js/app/app.js"></script>

    </body>
</html>